/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}


.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
  display: block;
  width: 135px;
  height: 105px;
}

.header__logo-image {
    width: 100%;
}

.address {
    max-width: 240px;
    font-size: 18px;
    line-height: 24px;
}

.header__address {
    justify-self: end;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    z-index: -2;
    width: 1100px;
    height: 757px;
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: -140px;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 165px 50px 106px;
}

.axtent-span {
    display: block;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15em;
    text-transform: uppercase;
    color: #fff;
}

.aligned-text {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    margin-left: 28px;
}

.aligned-text_right {
    text-align: right;
    margin-left: 615px;
}

.cover__description {
    display: flex;
    padding: 2px 50px;
    align-items: center;
    gap: 107px;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}

.word-spacing-extended {
    word-spacing: 19px;
}

.bet-button {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 22px;
    background: transparent;
}

.lots {
    padding-top: 180px;
}

.lots__heading {
    padding-left: 64px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 27px 24px 0;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    padding: 48px 40px 0;
    color: #fff;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
    padding: 0 40px 48px;
    color: #fff;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: -115px 0;
    z-index: -2;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: -118px 0px;
    z-index: -2;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: -115px 0;
    z-index: -2;
}

.lots__look-more-link {
    display: block;
    padding: 30px 0 1px 64px;
    font-size: 20px;
    text-underline-offset: 4px;
}

.about {
    margin: 120px 24px 0;
    display: grid;
    grid-template-columns: 334px 1fr;
    column-gap: 25px;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-top: -285px;
}

.about__logo-image {
    width: 62%;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 136px;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
    padding-right: 5px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 180px;
    padding: 0 50px 82px;
}

.footer__address {
    justify-self: flex-start;
    /*padding: 0 50px 82px;*/
    text-wrap-mode:wrap;
}

.footer__menu-list {
    list-style: none;
    font-size: 18px;
    text-align: center;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 48px;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}

.footer__social-link {
    width: 48px;
    height: 48px;
}