/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}


.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__logo {
  display: block;
  width: 135px;
  height: 105px;
}

.header__logo-image {
    width: 100%;
}

.address {
    max-width: 240px;
    font-size: 18px;
    line-height: 24px;
}

.header__address {
    justify-self: end;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    z-index: -2;
    width: 1100px;
    height: 757px;
    background-size: cover;
    background-position: -135px;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 165px 50px 106px;
}

.axtent-span {
    display: block;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15em;
    text-transform: uppercase;
    color: #fff;
}

.aligned-text {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    margin-left: 28px;
}

.aligned-text_right {
    text-align: right;
    margin-left: 615px;
}

.cover__description {
    display: flex;
    padding: 0 50px;
    align-items: center;
    gap: 107px;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}

.word-spacing-extended {
    word-spacing: 19px;
}

.bet-button {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 22px;
    background: transparent;
}

.lots {
    padding-top: 180px;
}