/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__menu {
    
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    size: 18px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
    width: 100%;
  width: 125px;
  height: 95px;
}

.address {
    max-width: 240px;
    font-size: 18px;
    line-height: 24px;
}

.header__address {
    justify-self: end;
}